/*************************************************
 *  Core
 **************************************************/

html {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}
@media screen and (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

/*************************************************
 *  Navigation
 **************************************************/

nav#navbar-main li {
  font-size: 20px; /* JCF: increased from default 16px */
}

/*************************************************
 *  Metadata
 **************************************************/
 
.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #b5c6ce;
  color: #fff
}

/*************************************************
 *  Images and video
 **************************************************/
 
.article-style img,
.article-style video {
  box-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

/*************************************************
 *  Tables
 **************************************************/

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

/*************************************************
 *  Figures
 **************************************************/
.caption {
  color: #7a7a7a;
  font-size: 0.90rem;
}

/*************************************************
 *  Code
 **************************************************/

pre,
code {
  font-family: 'Roboto Mono', 'Courier New', 'Courier', monospace;
  font-size: 0.90rem;
}