

nav#navbar-main li {
  font-size: 20px; /* JCF: increased from default 16px */
}

/* Article duration configuration */
.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #b5c6ce;
  color: #fff
}